.chat-has-username.chat,
.chat:nth-child(even).chat-has-username{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 2px;

}

.chat.chat-has-username> b>a{
    color:#fff;
}

.chat{
    padding:4px 5px 4px 5px;
    margin:0;
    position: relative;
}

.chat:nth-child(even) {
    background-color: rgb(194, 194, 194);
}

.remove-padding{
    padding:0px;
}

#chatArea{
    padding-top:10px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius: 4px;
}

#alert-container2{
    max-width: 300px;
    right:0;
    z-index: 10;
}

.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 4em;
}

.forum.table th.cell-stat-2x {
    width: 10em;
}

textarea.forumTextArea{
    width:100%;
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;
}

.creator.post-user{
    background-color: #D9EDF7;
}

.post-role{
    color: rgb(43, 140, 70);
}

pre{
    white-space: pre-wrap;
}

.textarea-addon{
    border-radius: 4px 4px 0 0 !important;
    border:1px solid #ccc !important;
    border-bottom: none;
    padding:5px;
    margin-bottom: 0px;
}

.textarea-addon a{
    padding: 5px;
}

.reply-panel{
    border:1px solid #ccc;
    padding:10px;
    padding-top: 15px;
}

.fa-spin.ng-hide-add-active{
    display: none !important;
}

blockquote forum-post{
    font-size: 14px;
}

blockquote hr{
    margin-bottom: 5px;
    margin-top: 5px;
}

.forum-post-button-group a.unselected{
    color:#999;
}
.forum-post-button-group a.unselected:hover,.forum-post-button-group a.selected{
    color:rgb(43, 140, 70);
}

room *{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.forum-post-options{
    border-radius: 5px;
    background-color:#eee;
    padding:3px;
    border:1px solid #ddd;
}
.forum-post-options hr{
    margin-bottom: 2px;
    margin-top: 2px;
    border-top:1px solid #888;
}
.subposts{
    margin:0;
    padding: 5px 10px;
}

hr{
    margin-top: 2px;
    margin-bottom: 2px;
}

forum-post div{
    padding:0px 10px;
}

.hangman-image{
    position: absolute;
    top: 5px;
    right: 10px;
}
