<div class="col-md-10 col-md-offset-1 input-group">
    <input class="form-control" ng-model="forumSearch">
    <span class="input-group-btn">
         <button class="btn btn-primary " ui-sref="forumTagSearch({tags:forumSearch})">Search</button>
    </span>


</div>
<div class="col-md-10 col-md-offset-1">
    <h1>{{header}}</h1>
    <table class="table forum table-striped" ng-repeat="topic in topics | orderBy:'name'" ng-hide="topic.children.topics.length==0&&!hasPermission('Forum Admin')">
        <thead>
            <tr>
                <th class="cell-stat"></th>
                <th><h3>{{topic.name}} <button ui-sref="createTopic({parent:topic._id})" class="btn-sm btn btn-primary" ng-show="hasPermission('Forum Admin')"><span class="fa fa-plus-square-o"></span> New Topic</button></h3></th>
                <th class="cell-stat">Topics</th>
                <th class="cell-stat">Threads</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="childTopic in topic.children.topics|orderBy:'name'">
                <td class="text-center"><i ng-if="childTopic.icon" ng-class="'fa-'+childTopic.icon+' text-'+childTopic.iconStyle" class="fa"></i></td>
                <td><h4><a ui-sref="topic({topicId:childTopic._id})">{{childTopic.name}}</a></h4><small>{{childTopic.description}}</small></td>
                <td>{{childTopic.topicCount}}</td>
                <td>{{childTopic.threadCount}}</td>
            </tr>

        </tbody>
    </table>
    <table ng-if="topic" class="table table-striped forum" infinite-scroll="getNextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="pageLoading||atBottomOfTopic">
        <thead>
        <th class="cell-stat"></th>
        <th><button ui-sref="createThread({topicId:topic._id})" class="btn-sm btn btn-primary" ng-show="logged_in_user"><span class="fa fa-plus-square-o"></span> New Thread</button></th>
        <th class="cell-stat"> Views</th>
        <th class="cell-stat"> Posts</th>
        <th class="cell-stat-2x">Created by</th>
        <th class="cell-stat-2x"> Created</th>
        <th class="cell-stat-2x"> Modified</th>
        </thead>
        <tbody>
        <tr ng-repeat="childThread in topic.children.threads" ui-sref="thread({threadId:childThread._id})">
            <td class="cell-stat"><i ng-if="childThread.pinned " class="fa fa-thumb-tack text-danger"></i>&nbsp<i ng-if="childThread.locked " class="fa fa-lock text-primary"></i></td>
            <td><a ui-sref="thread({threadId:childThread._id})">{{childThread.title}}</a></td>
            <td class="cell-stat">{{childThread.views}}</td>
            <td class="cell-stat">{{childThread.postCount}}</td>
            <td>{{childThread.creator.username}}</td>
            <td class=""><small><i class="fa fa-clock-o"></i>&nbsp{{childThread.creationTime|timeAgo}}</small></td>
            <td class="" ><small ng-if="childThread.lastUpdateTime!==childThread.creationTime"><i class="fa fa-clock-o"></i>&nbsp{{childThread.lastUpdateTime|timeAgo}}</small></td>
        </tr>
        </tbody>
    </table>
</div>