<div class="col-md-10 col-md-offset-1">
    <h2><i ng-if="thread.pinned " class="fa fa-thumb-tack text-danger"></i>&nbsp<i ng-if="thread.locked " class="fa fa-lock text-primary"></i>&nbsp{{thread.title}}&nbsp
        <button ng-click="deleteThread()" class="btn btn-danger" ng-if="logged_in_user._id==thread.creator._id||hasPermission('Forum Admin')">Delete Thread</button>
        <button ng-click="pin()" class="btn btn-primary" ng-show="!thread.pinned && hasPermission('Forum Admin')">Pin Thread</button>
        <button ng-click="unpin()" class="btn btn-primary" ng-show="thread.pinned && hasPermission('Forum Admin')">Unpin Thread</button>
        <button ng-click="lock()" class="btn btn-primary" ng-show="!thread.locked && hasPermission('Forum Admin')">Lock Thread</button>
        <button ng-click="unlock()" class="btn btn-primary" ng-show="thread.locked && hasPermission('Forum Admin')">Unlock Thread</button>
    </h2><br>
    <small ng-repeat="tag in thread.tags"><a ui-sref="search({tag:tag})">#{{tag}}&nbsp</a></small>
    <hr>
    <div infinite-scroll="getNextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="pageLoading||atBottomOfThread">
        <div ng-repeat="post in thread.posts |orderBy:'creationTime'" class="clearfix">
            <p>
                <a ng-class="{'creator':post.creator._id==thread.creator._id}" ui-sref="userPage({userId:post.creator._id})" class="post-user">{{post.creator.username}}</a>
                <span class="post-role">{{post.creator.group.name}}</span>
                <small class="pull-right">&nbsp&nbsp{{post.lastUpdateTime|timeAgo}}</small>

            </p>
            <p class="container" ng-hide="postEditing._id==post._id" ng-bind-html="post.htmlBody"></p>

            <div ng-show="postEditing._id==post._id" class="clearfix">
                <span class="fa fa-times text-danger pull-right fa-2x" ng-click="$parent.postEditing =undefined"></span>
                <textarea class="forumTextArea" ng-model="postEditing.body"></textarea>
                <button class="btn btn-primary pull-right" ng-click="save()"><span class="fa fa-floppy-o"></span>&nbspSave</button>
            </div>
            <div class="pull-right clearfix">
                <a ng-click="edit(post)" ><span ng-if="post.creator._id==logged_in_user._id"><span class="fa fa-pencil"></span></span></a>
                <a ng-click="delete(post)" ><span  ng-if="post.creator._id==logged_in_user._id">&nbsp<span class="fa fa-trash "></span></span></a>

            </div>
            <br>
            <hr>
        </div>
    </div>

    <div class="well clearfix" ng-show="logged_in_user && thread&&!(thread.locked&&!hasPermission('Forum Admin'))" >
        <textarea class="forumTextArea" ng-model="replyText"></textarea>
        <button class="btn btn-primary pull-right" ng-click="reply()"><span class="fa fa-reply"></span>&nbspReply</button>
    </div>
</div>