<div class="col-md-10 col-md-offset-1">
    <div ng-repeat="err in errs">
        <p class="alert alert-danger">{{err}}</p>
    </div>
    <h2><i ng-if="thread.pinned " class="fa fa-thumb-tack text-danger"></i>&nbsp<i ng-if="thread.locked " class="fa fa-lock text-primary"></i>&nbsp{{thread.title}}&nbsp
        <button ng-click="deleteThread()" class="btn btn-danger" ng-if="logged_in_user._id==thread.creator._id||hasPermission('Forum Admin')">Delete Thread</button>
        <button ng-click="pin()" class="btn btn-primary" ng-show="!thread.pinned && hasPermission('Forum Admin')">Pin Thread</button>
        <button ng-click="unpin()" class="btn btn-primary" ng-show="thread.pinned && hasPermission('Forum Admin')">Unpin Thread</button>
        <button ng-click="lock()" class="btn btn-primary" ng-show="!thread.locked && hasPermission('Forum Admin')">Lock Thread</button>
        <button ng-click="unlock()" class="btn btn-primary" ng-show="thread.locked && hasPermission('Forum Admin')">Unlock Thread</button>
    </h2><br>
    <small ng-repeat="tag in thread.tags"><a ui-sref="forumTagSearch({tag:tag})">#{{tag}}&nbsp</a></small>
    <hr>
    <div infinite-scroll="getNextPage()" infinite-scroll-distance="1" infinite-scroll-disabled="pageLoading||atBottomOfThread">
        <div ng-repeat="post in thread.posts |orderBy:'creationTime'" class="clearfix">
            <p>
                <a ng-class="{'creator':post.creator._id==thread.creator._id}" ui-sref="userPage({userId:post.creator._id})" class="post-user">{{post.creator.username}}</a>
                <span class="post-role"><span ng-if="post.creator.group.name.indexOf('Admin')>-1" class="fa fa-shield"></span>&nbsp{{post.creator.group.name}}</span>
                <small class="pull-right">{{post.lastUpdateTime===post.creationTime?'posted':'last edited'}}&nbsp&nbsp{{post.lastUpdateTime|timeAgo}}</small>

            </p>
            <p class="container" ng-hide="post._id&&postEditing._id==post._id" ng-bind-html="post.htmlBody"></p>

            <div ng-show="post._id&&postEditing._id==post._id" class="clearfix">
                <span class="fa fa-times text-danger pull-right fa-2x" ng-click="$parent.postEditing =undefined"></span>
                <div>
                    <textarea class="forumTextArea" ng-model="postEditing.body" rows="5"></textarea>
                </div>

                <button class="btn btn-primary pull-right" ng-click="save()"><span class="fa fa-floppy-o"></span>&nbspSave</button>
            </div>
            <div class="pull-right clearfix">
                <a ui-sref="forumPost({postId:post._id})" ng-if="post._id"><span><span class="fa fa-link fa-lg" bs-tooltip data-title="Permanent link to post" data-type="info" data-placement="bottom"></span></span></a>
                <a ng-click="edit(post)" ><span ng-if="post.creator._id==logged_in_user._id"><span class="fa fa-pencil fa-lg" bs-tooltip data-title="Edit Post" data-type="info" data-placement="bottom"></span></span></a>
                <a ng-click="delete(post)" ><span  ng-if="post.creator._id==logged_in_user._id">&nbsp<span class="fa fa-trash fa-lg" bs-tooltip data-title="Delete Post" data-type="danger" data-placement="bottom"></span></span></a>

            </div>
            <br>
            <hr>
        </div>
        <div style="text-align: center"><p ng-show="pageLoading" class="fa fa-spin fa-circle-o-notch fa-3x"  ></p></div>

    </div>

    <div class="reply-panel clearfix" ng-show="logged_in_user && thread&&!(thread.locked&&!hasPermission('Forum Admin'))" >
        <div>
            <div class="textarea-addon well-sm well">
                <a><span class="fa fa-link fa-lg" ng-click="addTextToReply(' [Link text](link url) ')"></span></a>
                <a><span class="fa fa-picture-o fa-lg" ng-click="addTextToReply(' ![alt text](image url) ')"></span></a>
                <a><span class="fa fa-header fa-lg" ng-click="addTextToReply(' \r###heading ')"></span></a>
                <a><span class="fa fa-bold fa-lg" ng-click="addTextToReply(' __Bold text__ ')"></span></a>
                <a><span class="fa fa-italic fa-lg" ng-click="addTextToReply(' _italic text_ ')"></span></a>
                <a><span class="fa fa-list-ol fa-lg" ng-click="addTextToReply(' \r1. item\r2. item\r3. item ')"></span></a>
                <a><span class="fa fa-list-ul fa-lg" ng-click="addTextToReply(' \r* item\r* item\r* item ')"></span></a>
                <a><span class="fa fa-code fa-lg" ng-click="addTextToReply(' `code`')"></span></a>
            </div>
            <textarea class="forumTextArea form-control" ng-model="replyText" rows="5"></textarea>
        </div>
        <br>
        <button class="btn btn-primary pull-right" ng-click="reply()"><span class="fa fa-reply"></span>&nbspReply</button>
    </div>
</div>