<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#user-navbar-collapse-1" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <div class="collapse navbar-collapse" id="user-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a ui-sref="user">User</a></li>
            <li ng-if="hasPermission('Admin')"><a ui-sref="update_notes">Update Notes</a></li>
            <li><a ui-sref="room">Room</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="" ng-if="!logged_in_user"><a title="Login"
                                                    data-template-url="components/login/loginDirective.html"
                                                    data-placement="bottom" data-animation="am-flip-x"
                                                    data-container='body' bs-popover>Login</a></li>
            <li ng-if="!logged_in_user"><a href="#/register?next={{$state.$current.url.source}}">Register</a></li>
            <li class="" ng-if="logged_in_user"><a ng-click="logout()">Logout</a></li>
            <li class="" ng-if="logged_in_user"><a>Welcome {{logged_in_user.firstName}}</a></li>
        </ul>
    </div>
</nav>