<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#user-navbar-collapse-1" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <div class="collapse navbar-collapse" id="user-navbar-collapse-1">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li ><a class="navbar-brand" ui-sref="home">Home</a></li>
                <li><a ui-sref="remove_character">Remove</a></li>
                <li><a ui-sref="replace_character">Replace</a></li>
            </ul>
        </div>
    </div>
</nav>