

<div class="container">
    <div class="pull-right container-fluid">
        <button type="button" class="btn btn-primary" ui-sref="compose({userId:userData._id})">Compose <span class="fa fa-pencil-square-o"></span></button>
    </div>
    <h2>{{userData.username}}</h2>
    <div class="col-md-3 well">
        <h3>Reputation</h3>
        <table class="table">
            <tr>
                <td><i class="fa fa-check-circle-o"></i>&nbsp<b>Agree</b></td>
                <td>{{userData.forum.agree}}</td>
            </tr>
            <tr>
                <td><i class="fa fa-info-circle"></i>&nbsp<b>Informative</b></td>
                <td>{{userData.forum.informative}}</td>
            </tr>
            <tr>
                <td><i class="fa fa-smile-o"></i>&nbsp<b>Funny</b></td>
                <td>{{userData.forum.funny}}</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-up"></i>&nbsp<b>Thumbs&nbspUP</b></td>
                <td>{{userData.forum.thumbsUp}}</td>
            </tr>
        </table>
    </div>
    <div infinite-scroll="getNextForumPostPage()" infinite-scroll-distance="1" infinite-scroll-disabled="forumPostPageLoading||bottomOfForumPostData">
        <div class="col-md-9">
            <div ng-repeat="activity in activities"  class=" container user-page-activity">
                <div ng-switch="activity.activityType">
                    <div ng-switch-when="post">
                        <a ui-sref="thread({threadId:activity.thread._id,postId:activity._id})">{{activity.thread.title}}</a>
                        <p>{{userData.username}} posted on {{activity.thread.title}} on {{activity.creationTime|date:'medium'}}</p>
                        <div ng-bind-html="getHTMLMarkdown(activity)" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>