<head>
    <!--custom css-->
    <link href="components/register/style.css" rel="stylesheet">
</head>
<div class="container">
    <form class="">
        <div class="form-group">
            <label>
                First Name<span class="text-danger">*</span>
            </label>
            <input class="form-control" type="text" required ng-model="register.firstName">
            <label>
                Last Name<span class="text-danger">*</span>
            </label>
            <input class="form-control" type="text" required ng-model="register.lastName">
            <label>
                Username<span class="text-danger">*</span>
                <span data-animation="am-flip-x" class="fa fa-question-circle" bs-tooltip data-placement="right" data-title="Usernames are case sensitive"
                        data-trigger="hover"></span>
                <span class="text-success fa fa-check" ng-show="!checkingUsername && usernameTaken==false"></span>
                <span class="text-success" ng-show="checkingUsername"><span class="fa fa-circle-o-notch fa-spin"></span></span>
                <span class="text-danger" ng-show="usernameTaken"> Username Taken</span>
            </label>
            <input class="form-control" type="text" required ng-model="register.username" ng-change="checkUsername()">
            <label>
                Email<span class="text-danger">*</span>
            </label>
            <input class="form-control" type="email" required ng-model="register.email">
            <label>
                Password<span class="text-danger">*</span>
            </label>
            <input class="form-control" type="password" required ng-model="register.password">
            <label>
                Retype Password<span class="text-danger">*</span><span class="text-danger" ng-hide="register.password==register.passwordAgain"> Passwords do not match</span>
            </label>
            <input class="form-control" type="password" required ng-model="register.passwordAgain">
        </div>
        <button class="btn btn-primary form-control" ng-click="submit();s">Submit</button>
    </form>
</div>